.album{
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 40px;

	img{
		width: 100%;
		height: auto;
		margin: 0 auto;

		@media(min-width:'$screen-lg'){
				margin-left: 20px;
				margin-right: 20px;
			}
	}
}