.comment{

	&__title{
		margin-bottom: 50px;
	}
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
	@media(min-width:'$screen-lg'){
		flex-direction: row;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 50px;
		}

	img{
		width: 80px;
		height: 80px;
		margin-right: 15px;
		margin-left: 15px;
	}

	&__wrap{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px;

		@media(min-width:'$screen-lg'){
			width: 500px;
			display: inline-block;
			margin-left: 20px;
			margin-right: 20px;
		}
	}

	&__name{
		font-family: $FS-Medium;
		font-size: $font-size + 2px;
		margin-bottom: 8px;
	}

	&__text{
		font-family: $FS-Italic;
	}

}