.comment{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;

	img{
		width: 80px;
		height: 80px;
		margin-right: 15px;
		margin-left: 15px;
	}

	&__wrap{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	&__name{
		font-family: $FS-Medium;
		font-size: $font-size + 2px;
		margin-bottom: 8px;
	}

	&__text{
		font-family: $FS-Italic;
	}

}