.main-nav{
	display: none;

	@media(min-width:'$screen-sm'){
		display: inline-block;	
		position: absolute;
		top: -50px;
		right: 35px;

		&__item{
			display: inline-block;
			margin-left: 20px;

			@media(min-width:'$screen-lg'){
				margin-left: 40px;
			}
		}

		&__link{
			margin-top: -80px;
			color: white;
		}
	}
}