@include sprites($spritesheet-sprites);
.footer-twitter{
	margin-right: 20px;
}

.footer-vk{
	margin-right: 20px;
}

.footer-placeholder{
	margin-right: 15px;
	padding-left: 2px;
}


.footer-phone{
	margin-right: 15px;
}


.footer-mail{
	margin-right: 12px;
}